{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block somescript %}
<script>

    $(document).ready(function () {
        let ctx = document.getElementById("myChart").getContext("2d");
        var data = {
            labels : [
                {% for record in sell_arrar %}
                    "{{record.goods.goods_name }}:{{ record.sell_count }}",
                {% endfor %}
            ],
            datasets : [
                {
                    fillColor : "rgba(100,73,205,0.5)",
                    strokeColor : "rgba(101,80,205,1)",
                    data : [

                    {% for record in sell_arrar %}
                        "{{ record.sell_count }}",
                    {% endfor %}
                    ]
                }
            ]
        };

        var myNewChart = new Chart(ctx);
        myNewChart.Bar(data,{scaleOverride : true, scaleSteps : 40, scaleStepWidth : 100, scaleStartValue : 0});
    });

</script>
{% endblock %}
{% block content %}
    <h1 style="text-align: center; color: coral">药品销量排行直方图</h1>
    <canvas id="myChart" width="1500" height="680"></canvas>
{% endblock %}
